version: '2.4'

networks:
  test-net:

services:
  ${SVC_NAME}:
    image: $${IMAGE_PREFIX}${SVC_IMAGE}:$${IMAGE_TAG}
    hostname: ${SVC_NAME}
    ports: ${SVC_PORTS}
    environment:
      - SPRING_PROFILES_ACTIVE=$${SPRING_PROFILES_ACTIVE}
    networks:
      - test-net